$main-color: #ff7639;

nav {
	z-index: 999;
	backdrop-filter: blur(10px);
	border-bottom: 1px solid #fff3;
	background: #0003;
	padding: 10px;
	display: flex;
	position: fixed;
	justify-content: space-between;
	height: 5em;
	width: 100%;
	.brand {
		justify-self: start;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			border-radius: 100%;
			width: 3em;
		}
	}
	.pages {
		justify-self: end;
		align-self: center;
		ul {
			display: flex;
			gap: 50px;
			li {
				margin: 0;
				a {
					color: #fff;
					i {
						display: none;
						color: $main-color;
					}
					span {
						display: block;
					}
					i {
						margin: 0 !important;
						font-size: 1.2em;
					}
				}
			}
		}
	}
}

@media (max-width: 550px) {
	nav {
		.pages {
			ul {
				gap: 40px;
				li {
					a {
						i {
							display: block;
						}
						span {
							display: none;
						}
					}
				}
			}
		}
	}
}
