$main-color: #ff7639;

::selection {
	background: #fff5 !important;
}

::-webkit-scrollbar {
	background-color: #333;
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: $main-color;
	&:hover {
		background-color: #e45233;
	}
}

html {
	scroll-behavior: smooth;
}

.Partners {
	background-color: rgb(31, 33, 41);
	padding: 0 20px;
	padding-top: 100px;
	min-height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	.card-container {
		display: grid;
		max-width: 1000px;
		grid-template-columns: 1fr 1fr;
		gap: 30px;
	}
}

@media (max-width: 720px) {
	.Partners {
		.card-container {
			grid-template-columns: 1fr;
		}
	}
}
