$main-color: #e45233;

::selection {
	background: #fff5 !important;
}

::-webkit-scrollbar {
	background-color: #333;
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: $main-color;
	&:hover {
		background-color: #ec6a4d;
	}
}

html {
	scroll-behavior: smooth;
}

p {
	font-size: 1.12em;
}

.btn-zindex {
	font-size: 14px;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	header {
		max-width: 100%;
		display: flex;
		padding: 30px;
		min-height: 100vh;
		justify-content: center;
		align-items: center;
		background-color: #2d3436;
		background-image: linear-gradient(190deg, #282220 0%, #000000 74%);
		.container {
			justify-content: center;
			padding: 30px;
			align-items: center;
			width: 100vw;
			display: flex;
			column-gap: 100px;
			flex-wrap: wrap;
			align-items: center;
			.portrait-btns {
				display: none;
			}
			.landscape-btns {
				display: flex;
				gap: 10px;
			}
			.logo {
				border-radius: 100%;
				width: 200px;
				transition: transform 1s cubic-bezier(0.8, -0.5, 0.2, 1.4);
				margin-bottom: 10px;
				&:hover {
					transform: rotate(360deg);
				}
			}
			h1 {
				font-size: 3em;
				margin-bottom: 5px;
			}
			p {
				color: #ccc;
			}
			.inviteButton {
				margin-bottom: 10px;
			}
		}
	}
	section {
		width: 100%;
		min-height: 60vh;
		padding-top: 30px;
		&:first-of-type {
			padding-top: 20vh;
		}
		background: #ffffff16;
		display: flex;
		justify-content: center;
		align-items: center;
		&:nth-of-type(odd) {
			.container {
				direction: rtl;
				.text {
					text-align: right;
				}
			}
		}
		.container {
			position: relative;
			width: 100%;
			max-width: 1200px;
			height: 100%;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
			gap: 30px;
			padding: 50px;
			img,
			.text {
				justify-self: center;
				align-self: center;
			}
			.text p {
				direction: ltr;
			}
			img {
				border-radius: 10px;
				box-shadow: 0px 1px 162px -35px rgba(255, 118, 57, 0.09);
				-webkit-box-shadow: 0px 1px 162px -35px rgba(255, 118, 57, 0.09);
				-moz-box-shadow: 0px 1px 162px -35px rgba(255, 118, 57, 0.09);
			}
		}
	}
}

footer {
	max-width: 100%;
	padding: 50px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	h2 {
		text-align: center;
	}

	.credits {
		margin-top: 50px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		gap: 10px;
		opacity: 0.7;
		font-size: 0.8em;
		p {
			margin: 0;
		}
		a, span {
			align-self: center;
			justify-self: center;
			color: $main-color !important;
			cursor: pointer;
		}
	}
}

.username,
.link {
	color: $main-color !important;
}

.link {
	width: 100%;
	height: 100%;
}

@media (max-width: 934px) {
	.App {
		header {
			.container {
				flex-direction: column;
				.portrait-btns {
					display: block;
					width: 100%;
				}
				.landscape-btns {
					display: none;
				}
				.right {
					flex-direction: column;
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
				}
				.logo {
					width: 150px;
				}
			}
		}
		section {
			&:first-of-type {
				padding-top: 0px;
			}
			.container {
				direction: ltr;
				grid-template-columns: none;
				padding: 30px;
				.text {
					text-align: center !important;
				}
			}
		}
	}

	footer {
		.credits {
			grid-template-columns: 1fr;
		}
	}
}
