nav {
  z-index: 999;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.0666666667);
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5.5em;
}
nav .container {
  scale: 0.85;
  padding: 0px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
}
nav .container .brand {
  justify-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .container .brand img {
  border-radius: 100%;
  width: 3em;
}
nav .container .pages {
  justify-self: end;
  align-self: center;
}
nav .container .pages ul {
  display: flex;
  gap: 50px;
}
nav .container .pages ul li {
  margin: 0;
}
nav .container .pages ul li a {
  color: rgba(255, 255, 255, 0.7333333333);
  transition: color 0.2s ease;
}
nav .container .pages ul li a:hover {
  color: #fff;
}
nav .container .pages ul li a i {
  display: none;
  color: #ff7639;
  transition: color 0.2s ease;
}
nav .container .pages ul li a i:hover {
  color: #e45233;
}
nav .container .pages ul li a span {
  display: block;
}
nav .container .pages ul li a i {
  margin: 0 !important;
  font-size: 1.2em;
}

@media (max-width: 550px) {
  nav .container .pages ul {
    gap: 40px;
  }
  nav .container .pages ul li a i {
    display: block;
  }
  nav .container .pages ul li a span {
    display: none;
  }
}
